<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <h1>Select a Student</h1>
    <div id="dropdownDiv">
        <select name="student" id="studentSelect">
            {% for student in students %}
                <option value="{{ student }}">{{ student }}</option>
            {% endfor %}
        </select>
    </div>

    <h1>Student Details</h1>
    <div id="detailsDiv">
        
            {{ student_details['name'] }}
        

        <!-- Student details will be displayed here -->
    </div>

    <script>
        document.getElementById('studentSelect').addEventListener('change', function() {
            var selectedStudent = this.value;
            var xhr = new XMLHttpRequest();
            //This is important . It is again redirecting to /student_details so that 
            //the function under route(/student_details will be executed
            xhr.open('POST', '/student_details', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('detailsDiv').innerHTML = xhr.responseText;
                }
            };
            xhr.send('student=' + selectedStudent);
        });
    </script>
</body>
</html>
